streamlit
langgraph
langchain-google-genai
langchain-core
google-genai
pandas
numpy==1.26.3
scikit-learn==1.7.2
torch
xgboost
lightgbm    
plotly
python-dotenv
scipy==1.16.2

# Optional: for HuggingFace/transformers/PEFT support
transformers==4.51.3
peft
#bitsandbytes==0.47.0 (if available)
#trl
pytorch-wavelets
tqdm
efficientnet-pytorch
pytorch-lightning
PyWavelets
ftfy

# Optional: for Llama.cpp support
llama-cpp-python

# Optional: for datasets
datasets

# Jupyter for notebooks
notebook
jupyter

# Visualization (if used)
matplotlib
seaborn
imblearn
kaggle
torchvision
timm==1.0.9
albumentations
Pillow
rich